<mat-form-field appearance="standard">
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Procure clinicas" #input type="text" autocomplete="off">
</mat-form-field>


<table mat-table [dataSource]="clinicas$" class="mat-elevation-z8">
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef class="rosa">Nome</th>
    <td mat-cell *matCellDef="let clinica" >
     <div (click)="navigate(clinica.id)" class="hover">
       {{ clinica.nome }}
     </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="especialidade">
    <th mat-header-cell *matHeaderCellDef class="rosa">Especialidade</th>
    <td mat-cell *matCellDef="let clinica">{{ clinica.especialidade }}</td>
  </ng-container>
  <ng-container matColumnDef="endereço">
    <th mat-header-cell *matHeaderCellDef class="rosa">Endereço</th>
    <td mat-cell *matCellDef="let clinica">
      {{ clinica["endereço"] }}, {{ clinica.numero }} - {{ clinica.estado }}
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef class="rosa">Disponível</th>
    <td mat-cell *matCellDef="let clinica">
      <mat-icon aria-hidden="false" aria-label="Status icon">{{clinica.status | status}}</mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="horário">
    <th mat-header-cell *matHeaderCellDef class="rosa">Horário</th>
    <td mat-cell *matCellDef="let clinica">
      {{clinica.atendimento. inicio}} - {{clinica.atendimento.fim}}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button (click)="openDialog()" color="accent" aria-label="Adicionar uma clinica">
        <mat-icon>add</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let clinica">
      <button mat-icon-button color="accent" aria-label="Editar uma clinica">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="clinica.status.toLowerCase() === 'ativo'" (click)="deleteClinica(clinica)" mat-icon-button color="warn" aria-label="Remover uma clinica">
        <mat-icon>delete</mat-icon>
      </button>
      <button *ngIf="clinica.status.toLowerCase() !== 'ativo'" (click)="activeClinica(clinica)" mat-icon-button color="primary" aria-label="Remover uma clinica">
        <mat-icon>update</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
